@import "tailwindcss";

.card {
  @apply bg-white cursor-pointer dark:bg-gray-900 rounded-xl shadow-sm border border-gray-200 dark:border-gray-800 overflow-hidden hover:shadow-md transition;
}
.square-animated {
  @apply w-16 h-16  bg-linear-to-br from-indigo-600 to-purple-600 rounded-lg drop-shadow-xl drop-shadow-purple-600/50;
}
.squeare-basic {
  @apply rounded-md size-10 absolute z-40;
}
.square-bg {
  @apply flex justify-center items-center h-32 bg-gray-50 dark:bg-gray-800/50 rounded-lg mb-4 overflow-hidden py-3;
}

.card:hover .square-bg {
  animation-name: inset-shadow-purple;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
@keyframes inset-shadow-purple {
  100% {
    box-shadow: inset 0 0 5px var(--color-purple-300);
    box-shadow: inset 0 0 20px var(--color-purple-500);
    outline: 1px solid var(--color-neutral-600);
  }
}
.fade-in-element {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
  will-change: opacity, transform;
}

.fade-in-element.is-visible {
  opacity: 1;
  transform: translateY(0);
}
@keyframes slide-right {
  0% {
    left: 0%;
  }
  100% {
    left: calc(100% - 40px);
  }
}
